*{
    margin:0;
    padding:0; 
}
.container {
 background-color: rgb(254, 253, 253);
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .watch {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .watch .date {
  height: 100px;
  width: 100px;
  background-color: #282828;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container .watch .time {
  width: 400px;
  height: 100px;
  background-color: #282828;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container .watch .dorn {
  height: 100px;
  width: 100px;
  background-color: #282828;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container .day {
    width: 400px;
    height: 40px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
